.db-config-initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--main-2);

  .header {
    width: 50%;
    text-align: center;
    margin-bottom: 30px;

    p {
      color: var(--black);
    }

    .error {
      color: var(--error) !important;
    }
  }

  .submit-form {
    padding: 10px;
    font-size: var(--fs-3);
    border-radius: 5px;
    outline: none;
    background: var(--main-2);
    color: var(--main-1);
    border: 2px solid var(--main-1);
    margin-top: 10px;
    transition: .1s;

    &:hover {
      background: var(--main-1);
      color: var(--main-2);
      cursor: pointer;
    }
  }
}

.change {
  width: 100vw;
  height: 100vh;
  position: relative;

  .make-migrations {
    padding: 10px;
    background: var(--main-2);
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
    margin-right: 5px;

    &:hover {
      background: var(--main-3);
      color: var(--main-2);
    }
  }

  .active {
    background: var(--main-3);
    color: var(--main-2);
    border: 2px solid var(--main-3);
  }

  .header {

    .success {
      color: var(--main-3-transparent);
    }
  }
}
